[submodule "js/lib/respond"]
	path = js/lib/respond
	url = https://github.com/scottjehl/Respond.git
[submodule "js/lib/shiv"]
	path = js/lib/shiv
	url = https://github.com/aFarkas/html5shiv.git
[submodule "js/lib/fitvids"]
	path = js/lib/fitvids
	url = https://github.com/davatron5000/FitVids.js.git
